@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(assets/bg-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: var(--font-primary);
  color: var(--color-5);
  overflow-x: hidden;
  /**/
}
  :root{
    --font-primary: "Be Vietnam Pro", sans-serif;
    --color-1:#4036A9;
    --color-2:#111729 ;
    --color-3:#CDD5E0;
    --color-4:#F8FAFC ;
    --color-5:#FFFFFF ;
  }
  .logo{
    margin: 2rem;
  }
  .titles{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  h1{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
  }
  h2{
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .container-form{
    /* */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
  }
  form{
    background-color: var(--color-4);
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2.5rem;
    gap: 1.5rem;
    width: 80vw;
  }

  .top-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .middle-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  input{
    height: 4rem;
    width: 78vw;
    border: none;
    border-radius: 1rem;
    font-family: var(--font-primary);
    padding-left: 0.55rem;
  }
  select{
    height: 4rem;
    width: 79.5vw;
    border: none;
    border-radius: 1rem;
    font-family: var(--font-primary);
    padding-left: 0.55rem;
  }
  input:focus{
    outline: none;
  }
  select{
    font-weight: bold;
    font-size: 0.8rem;
  }
  select:focus, textarea:focus{
    outline: none;
  }
  textarea{
    font-family: var(--font-primary);
    width: 77vw;
    height: 10rem;
    border-radius: 1rem;
    resize: none;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
  }
  textarea::placeholder{
    color: var(--color-2);
    font-size: 0.8rem;
    font-weight: bold;
  }

  button{
    height: 4rem;
    border-radius: 1rem;
    border: none;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: bolder;
    color: var(--color-1);
  }
  /* Tablet (a partir de 641px até 1024px) */
  @media (min-width: 641px) and (max-width: 1024px) {
    /* body {
      
    } */
     h1{
      font-size: 80px;
     }
     h2{
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 2rem;
     }
     
     .top-form{
      display: flex;
      flex-direction: row;
      gap: 2rem;
      position: relative;
     }

      .middle-form{
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
      position: relative;
      }

     label[for="name"]{
      position: absolute;
      top: -1.5rem;
      left: 0;
      font-size: 0.9rem;
      margin-top: 1.5rem;
     }

     label[for="email"]{
      position: absolute;
      top: -1.5rem;
      left: calc(50% + 1rem);
      font-size: 0.9rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem; /* Aumenta o espaçamento inferior */
     }
     input, select{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
     }

     label[for="employee-select"]{
      position: absolute;
      top: -1.5rem;
      left: calc(50% + 1rem);
      margin-top: 1.5rem;
     }

     label[for="subject"]{
      position: absolute;
      top: -1.5rem;
      left: 0;
      font-size: 0.9rem;
      margin-top: 1.5rem;
     }

     textarea{
      width: 78vw;
     }
     
  }
  
  /* Desktop (a partir de 1025px até 1280px) */
  @media (min-width: 1025px) and (max-width: 1280px) {
    .logo{
      margin: 4rem;
    }
    .titles{
      margin: 5rem;
    }
    h1{
      font-size: 6rem;
     }
     h2{
      padding-left: 5rem;
      padding-right: 5rem;
      font-size: 2.5rem;
     }
     
     .top-form{
      display: flex;
      flex-direction: row;
      gap: 2rem;
      position: relative;
     }

      .middle-form{
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
      position: relative;
      }

     label[for="name"]{
      position: absolute;
      top: -1.5rem;
      left: 0;
      font-size: 0.9rem;
      margin-top: 1.5rem;
     }

     label[for="email"]{
      position: absolute;
      top: -1.5rem;
      left: calc(50% + 1rem);
      font-size: 0.9rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem; /* Aumenta o espaçamento inferior */
     }
     input, select{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
     }

     label[for="employee-select"]{
      position: absolute;
      top: -1.5rem;
      left: calc(50% + 1rem);
      margin-top: 1.5rem;
     }

     label[for="subject"]{
      position: absolute;
      top: -1.5rem;
      left: 0;
      font-size: 0.9rem;
      margin-top: 1.5rem;
     }

     textarea{
      width: 78vw;
     }

     }

     @media (min-width: 1281px) {

      .logo{
        margin: 4rem;
      }
      .titles{
        margin: 6rem;
      }
      h1{
        font-size: 7rem;
      }
       h2{
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 3rem;
       }
       
       .top-form{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: relative;
       }
  
        .middle-form{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        position: relative;
        }
  
       label[for="name"]{
        position: absolute;
        top: -1.5rem;
        left: 0;
        font-size: 0.9rem;
        margin-top: 1.5rem;
       }
  
       label[for="email"]{
        position: absolute;
        top: -1.5rem;
        left: calc(50% + 1rem);
        font-size: 0.9rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem; /* Aumenta o espaçamento inferior */
       }
       input, select{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
       }
  
       label[for="employee-select"]{
        position: absolute;
        top: -1.5rem;
        left: calc(50% + 1rem);
        margin-top: 1.5rem;
       }
  
       label[for="subject"]{
        position: absolute;
        top: -1.5rem;
        left: 0;
        font-size: 0.9rem;
        margin-top: 1.5rem;
       }
  
       textarea{
        width: 78vw;
       }

}
     
  
  